body {
    background-color: rgb(126, 167, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container {
    background-color: rgb(175, 218, 179);
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

button {
    margin-top: 10px;
}